@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Major+Mono+Display&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Jura:wght@300..700&family=Major+Mono+Display&family=Nothing+You+Could+Do&display=swap');
:root{
    --text-color:rgb(34, 37, 43);
    --bc-color: rgb(29, 25, 25);
    --afacad: "Afacad", sans-serif;
    --major-mono:"Major Mono Display", monospace;
    --jura:font-family: "Jura", sans-serif;
}

.contactContainer{
    margin: 20px 0px;
    padding: 10px;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 20px;   
}

.contactContainer h2{
    color: rgb(27, 29, 34);
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
    font-family: var(--afacad);

}

.boxContainer{
    display: flex;
    justify-content: center;
    padding: 40px 10px;
    gap: 10px;
}

.box{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    font-family: var(--afacad);
}





.box .title{
    text-transform: uppercase;
    font-size: 1.4rem;
    color:var(--text-color) ;
    font-weight: bolder;
}
.person{
    margin-top:15px;
    font-size: 1.4rem;
    font-family: var(--jura);
}
.main{
    margin-top: 6px;
    color: rgb(44, 44, 44);
    font-size: 1.2rem;
    width: 100%;
}


@media (max-width:1000px) {
    .boxContainer{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width:620px) {
    .contactContainer h2{
        font-size: 2.3rem;
        
    }

    .box{
        width: 70%;
    }
    
    .box .title{
        font-size:1.8rem;
        font-weight: bolder;
    }
    
}

@media (max-width:450px) {
    
    .box{
        justify-content: center;
    }

    .box .title{
        font-size: 1.1rem;
    }

    


    
}

