.Container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,300px));
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}
.heading{
    color:#273043;
    margin: 10px 0px 20px 0px;
    font-size: 2rem;
    text-align: center;
    font-family: var(--afacad);
}

.colunm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #7F7F7F;
    justify-content: flex-start;
    padding: 0px 0px 0px 0;
}


.icon{
    font-size: 2.2rem;
}

.text{
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: default;
}
.icon:hover,
.icon:hover ~ .text{
    color: #273043;
    transition: 300ms;
}

@media (max-width:700px) {
    .Container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .colunm{
      width: 70%;
      
    }
    .icon{
        flex: 0 0  auto;
    }
}


/*------------------------------------------our services--------------------------*/
  
.ServiceWrapper{
    margin: 30px 0px;
}
.ServiceWrapper h2{
    text-align: center;
    color: #121110;
    font-family: var(--afacad);
    font-size: 2rem;
}



.ServicesContainer{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    scrollbar-width: none;
    width: 100%;
    overflow-x: scroll;
    padding: 10px;

}

.ServicesBox{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px; 
}

.ServicesBox img{
    width: 100%;
    height:250px;
    background-color: salmon;
    border: none;
}

.ServiceInfo{
    width: 100%;
    padding: 5px 10px;
    border-left: 2px solid #d5cfcf;
    border-right: 2px solid #d5cfcf;
    border-bottom: 2px solid #d5cfcf;
}

.ServiceInfo h2,p{
    text-align: center;
    
}

.ServiceInfo h2{
    color: #273043;
}

.ServiceInfo p{
    color: #7F7F7F;
}

@media (max-width:500px) {
    .ServicesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .ServicesBox{
        width: 90%;
       
    }
    .ServicesBox img{
        height: 300px;
    }
}





