* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.header {
    width: 100%;
    height: 60px;
    background-color: rgba(12, 13, 54, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 14px;
    transition: all 600ms ease-in-out;
    z-index: 9999;
}

.itemContainer{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
    height:100%
}

.logo {
    width: 200px;
    height: 100%;
    background: rgb(179, 170, 170);
    margin: 0px 40px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;

}

.logo img,span {

}



.headerItemCollaction{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.headerItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    
}


.mlf5{
    margin: 0px 5px;
}

.header i,a{
    transition: all 600ms ease-in-out;
}


.lang {
    position: relative;
    cursor: pointer;
    padding: 5px;
}


.langItem {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.638);
    border-radius: 5px;
    padding: 10px 0px;
    text-transform: capitalize;
}

.langItem ul {
    list-style: none;
}

.langItem ul li {
    border: none;
    margin: 4px 0px;
    padding: 3px;
}

.langItem ul li:hover {
    background-color: rgb(208, 206, 206);
    color: rgb(0, 0, 0);
    transition: all 200ms ease-in-out;
}

.langItemSlected {
    background-color: rgb(10, 18, 45);
    color: rgb(215, 225, 225);
}

.bar{
    display: none;
    margin: 0px 6px;
}

.bar i{
    margin: 0px 20px;
    
}

.bar i:hover{
    color: rgb(97, 95, 95);
}

.fullContainer{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background: rgba(247, 246, 246, 0.787);
    z-index: 10000;
}

.sidebar{
    width: 400px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    right: 0;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    gap: 10px;
    animation: Slider 200ms ease-in-out forwards;
    
}

.sidebar .closebtn{
    color: rgb(67, 57, 57);
    width: 100%;
    height: 30px;
    font-size: 2rem;
    padding: 7px 20px;
    text-align: right;
    margin: 10px 0px 20px 0px;
}


.sidebar .closebtn i:hover{
    color: gray;
}

@keyframes Slider{
    0%{
        transform: translateX(100%);
    }
}





.hide {
    display: none;
}

.show {
    display: block;
}


.bg1 {
    background: #FFFFFF;
    color: rgb(40, 30, 30);
    transition: all 600ms ease-in-out;
}


.fcolor{
    color: rgb(40, 30, 30);
    transition: all 600ms ease-in-out;
}



/*responsive*/

@media(max-width : 1200px) {
    .header{
        justify-content: center;
    }
    .headerItemCollaction{
        display: none;
    }
    .bar{
        display: block;
    }
    .logo{
        margin: 0;

    }
    
}
@media(max-width : 492px) {
    .itemContainer{
        gap:2px;
        
    }

    .lang {
        padding: 0px;
        margin: 0px;
    }

    .itemContainer{
        gap: 0px;
    }
    .logo {
        width: 150px;
        margin: 0px;
    
    }
}
@media(max-width : 395px) {
    .sidebar{
        padding: 0px 0px 0px 40px;
    }
    .sidebar .closebtn{
       
        margin: 10px 0px 0px 0px;
    }
    .logo {
        width: 150px;
        height: 100%;
    
    }
    
}
