@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400..700&display=swap');
footer{
    background-color:#1D232F;
    min-height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

footer h2{
    font-size: 2.3rem;
    color: whitesmoke;
}
footer p{
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;
}

.social{
    display: flex;
    gap: 10px;
    
}

.social a{
    color: whitesmoke;
    text-decoration: none;
    
}

.social a i{
    font-size: 1.5rem;
}

@media (max-width:460px) {
    footer h2{
        font-size: 1.5rem;
        color: whitesmoke;
    }
    .social a i{
        font-size: 1.2rem;
    }
}
.special{
    margin-bottom: 30px;
    font-family: 'Teko';
    font-weight: 400;
    -webkit-text-stroke-color: #8B7669;
    color: rgba(2, 1, 1, 0);
    -webkit-text-stroke-width: 1px;
    line-height: 1.4rem;
    font-size: 60px;
}